<h1>Listing users</h1>

<table>
  <tr>
    <th>Email</th>
    <th>Name</th>
    <th>Dob</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @users.each do |user| %>
  <tr>
    <td><%= user.email %></td>
    <td><%= user.name %></td>
    <td><%= user.dob %></td>
    <td><%= link_to 'Show', user %></td>
    <% if current_user %>
      <% if current_user.friends.include?(user) %>
        <td><%= link_to 'Remove Friends', friendship_path(:id => user), :method => :delete %></td>
      <% else %>
        <td><%= link_to 'Add Friend', friendships_path(:id => user), :method => :post %></td>
      <% end %>
    <% end %>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New User', new_user_path %>
