<h1>Listing messages</h1>

<table>
  <tr>
    <th>User</th>
    <th>Subject</th>
    <th>Body</th>
    <th>Create</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @messages.each do |message| %>
  <tr>
    <td><%= message.user_id %></td>
    <td><%= message.subject %></td>
    <td><%= message.body %></td>
    <td><%= message.create %></td>
    <td><%= link_to 'Show', message %></td>
    <td><%= link_to 'Edit', edit_message_path(message) %></td>
    <td><%= link_to 'Destroy', message, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Message', new_message_path %>
